*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    
}

body,html{
    width:100%;
    height: 100%;

    
   
}

 header.main-header{
    display:flex;
    height:100px;
    background:#182131;
    width:100%;
    align-items: center;
    padding: 0 3.65%;
    justify-content: space-between;
   
}
.main-header .search-box{
    position: relative;
}
.search-box svg{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5%;
}

header.main-header input{
    /* margin-left:506px; */
    width:398px;
    height:40px;
    border-radius:30px;
    background-color:#6a6e75;
    opacity: 0.8;
    flex-shrink: 0;
    padding:8px;
    border: none;
    
}
header.main-header input:focus{
    outline: none;
    offset: 0px;

}
header.main-header input::placeholder{
  
   color:white;

}

div.header-menu{
    display:flex;
    /* margin-left:100px; */
    align-items: center;
    justify-content: center;
    height:100px;
    width:500px;
    background:#182131;
   
  

    
}

#cross {
    background: rgb(122, 122, 122);
    height: 16px;
    position: relative;
    width: 2px;
    left:10px;
    
    
  }
  #cross:after {
    background:rgb(122, 122, 122);
    content: "";
    height: 2px;
    left: -7px;
    position: absolute;
    top: 7px;
    width: 16px;
  }

  svg.notification{
      background:url(../icons/notif.svg);
      background-repeat:no-repeat;
      width:40px;
      height:40px;
      margin-left:50px;
      margin-top:18px; 
      

  }

  div.profile-photo{
    background-color:white;
    border-radius:50%;
    width:52px;
    height:52px;
    margin-left:50px;
    flex-shrink: 0;
  }

  #chevron {
  
    text-align: center;
    padding: 12px;
    margin-bottom: 6px;
    height: 3px;
    width: 2px;
    top:80px;
    transform:translate(-50%);
    left:90%;
    margin-left:50px;
  }
  #chevron:before {
    content: '';
    position: absolute;
    top: 50;
    left: 0;
    height: 2px;
    width: 51%;
    background: rgb(122, 122, 122);
    transform: skew(0deg, 45deg);
  }
  #chevron:after {
    content: '';
    position: absolute;
    top: 50;
    right: 0;
    height: 2px;
    width: 50%;
    background:rgb(122, 122, 122);
    transform: skew(0deg, -45deg);
  }

  span.profile-name{
      margin-left:50px;
      color:white
  }

  section.scrolling-panel{
      height:550px;
      background:#020916;
      width:100%;
      display: flex;
      overflow: scroll;
      align-items: center;
      justify-content: center;
      
   
     

  }

  div.movie-demo{
      width:1582px;
      height:501px;
      border-radius:15px;
      flex-shrink: 0;
      margin-top:21px;
      background:url(../images/johnWick.jpg);
      background-repeat: no-repeat;
      background-size: contain;
    
      
    
     
     
     
     
  }

  div.movie-demo:not(:first-child){
      margin-left:50px;
    

  }

  ::-webkit-scrollbar{
      background: transparent;
      width:0px;
  }

  section.row1{
      width:100%;
      align-items: center;
      overflow: scroll;
      height:450px;
      display:flex;
      background-color:#020916;
      justify-content: center;
     
      
  }
  section.row1>div.movie{
     
      width:250px;
      height:376px;

      flex-shrink: 0;
      

  }

  section.row1>div.movie:not(:first-child){
      margin-left:40px;
     
  }


  section.row2{
    width:100%;
    justify-content: center;
    align-items: center;
    overflow: scroll;
    height:450px;
    display:flex;
    background-color:#020916;
   
    
}
section.row2>div.movie{
   
    width:250px;
    height:376px;
   
    flex-shrink: 0;
    

}

section.row2>div.movie:not(:first-child){
    margin-left:40px;
   
}
div.movie{
    background:url(../images/tyrion.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    border-radius:10px;

}

div.cine-app{

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

div.cine{
    color:white
}


div.rectangle{
   width:12px;
   height:1px;
   background:yellow;
  
}
div.cine-app>div:not(:first-child){
    margin-top:4px;
}


  div.movie-introduction{
      color:white;
      margin-top:147px;
      margin-left:105px;
  }
  div.movie-introduction>div.title-up{
      font-size:1.125em;
  }
  div.movie-introduction>div.title{
      font-size:4.125em;
      margin-top:3px;

  }

  div.movie-introduction>div.description{
      margin-top:15px;
      font-size:2.75em;

      
  }
  div.movie-introduction>div.genre{
      margin-top:20px;
      font-size:1.625em;
  }
  div.trailer{
      display:flex;
      margin-top:20px;
  }

  


 