@media (max-width: 1024px){
    .movie-header{
        flex-direction: column;
        align-items: center;
        padding: 5rem 0;
    }
    .movie-poster img{
    width: 20em;
    }
    .movie-info{
        color: #EEEEEE;
        padding: 0 ;
        margin-top: 75px;
        text-align: center;
    }
    .movie-info h1{
        font-size: 3em;
        padding: 0 3.65%;
    
    }
    .movie-info h2{
        margin-top: 50px;
        font-size: 2.15em;
        display: inline-block;
    }
    .movie-info span{
         margin-left: 2.25em;
         display: inline-flex;
         align-items: center;
    }
    .movie-info span svg{
    
        margin-right: 1.125em ;
        width: 2.45em;
        height: 1.75em;
    }
    .movie-info p{
        margin-top: 2.5em;
        font-size: 1.25em;
        padding: 0 5%;
    
    }
    .actor{
        width: calc((100% - 5em ) / 5) !important;
    }
}
@media (max-width:1400px){
    .user-comments{
        flex-direction: column;
    }
    .user-comments::after{
        content: none;
    }
    .user-comment{
        width: 100%;
        margin-top: 1rem;
    }
    .user-comment::after{
        content: none;
    }
}

/* @media (max-width:800px){
    .actor{
        width: calc((100% - 4em)  / 4) !important;
    }
}
@media (max-width:650px){
    .actor{
        width: calc((100% - 3em)  / 3) !important;
    }
}

@media (max-width:550px){
    .details-menu li a{
        font-size: 1.25em ;
    }
    .actor p{
        font-size: 1.3em;
    }
} */